 .gallery {
     display: flex;
     flex-wrap: wrap;
     gap: 10px;
     list-style: none;
     padding: 0;
 }

 .gallery-item {
     flex-basis: calc(33.333% - 10px);
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }

 .gallery-link {
     display: block;
 }

 .gallery-image {
     width: 100%;
     height: auto;
     display: block;
 }